---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="grid place-items-center h-screen">
    <div class="flex flex-col gap-2">
      <p>No, Aqui no hay nada que ver :)</p>
      <a
        href="/"
        class="text-white border-white border-2 p-2 rounded-md hover:bg-slate-950 duration-150 text-center"
        >Ir Home</a
      >
    </div>
  </div>
</Layout>
