---
import { MdKeyboardDoubleArrowRight } from "react-icons/md";
---

<div class="grid place-items-center h-screen">
  <div
    class="w-[300px] sm:w-[350px] h-[400px] p-4 rounded-md grid gap-2 text-balance"
  >
    <div>
      <h1 class="text-4xl text-center font-bold mb-2">2024</h1>
      <hr />
    </div>
    <p>Esto es la recopilacion de mis escritos de este año.</p>
    <p>
      Mi primer año escribiendo "Poesía" o lo que sea que sea lo que escribo.
    </p>
    <p>
      Cada escrito va lleno de cosas que vivía en el momento, y me gustaría
      compartir con ustedes. Si alguno lee todo esto, agradecería que me
      comentara que le pareció todo y cual escrito es su favorito.
    </p>

    <a
      href="/poem/1"
      class="flex gap-2 items-center hover:bg-slate-950 w-fit px-2 rounded-md duration-150"
    >
      Next
      <MdKeyboardDoubleArrowRight size={24} />
    </a>
  </div>
</div>
